@font-face {
    font-family: 'Oswald';
    src:url('fonts/Oswald-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: auto;

}
@font-face {
    font-family: 'Oswald-Bold';
    src:url('fonts/Oswald-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: bold;
    font-display: auto;
}

$main-green: #A0C575;
$dark-green: #88A872;
$main-blue: #7CB7C9;
$main-orange: #F48A1F;
$main-white: #FFF;
$light-orange: #EEC062;

.visible{
    display: flex;
}
.blocked{
    display: block;
}
.unvisible{
    visibility: hidden;
}
.hidden{
    display: none;
}
.white{
    color: $main-white;
}
.row{
    display: flex;
    flex-direction: row;
}
.col{
    display: flex;
    flex-direction: column;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Oswald';
}
*:focus{
    border: none;
}
a:active, a:focus { 
    outline: none; 
}
a:hover{
    transition: 1s;
    color: $main-orange;
}

input, textarea {
    outline:none;
}
input:active, textarea:active {
    outline:none;
}
    :focus {
        outline:none;
    }
textarea {
    resize:none;
}
textarea {
    resize:vertical;
}
textarea {
    resize:horizontal;
}
img{
    max-width: 100%;
    max-height: 100%;
}
button{
    cursor: pointer;
}
html {
    font-size: 10px;
    p, a, h1, h2, h3, h4, h5, h6, ul{
        -webkit-font-smoothing: antialiased; 
    }

}

.text-content{
    p{
        font-family: 'Oswald';
        font-size: 1.8rem;
        line-height: 3.4rem;
        color: $main-white;
    }
    ul{
        list-style-type: square;
        li{
            margin-bottom: 1rem;
        }
    }
    ul, li{
        font-family: 'Oswald';
        font-size: 1.8rem;
        color: $main-white;
    }
    a{
        text-decoration: none;
        color: $main-white;
        font-family: 'Oswald';
        font-size: 1.8rem;
        color: $main-white;
        text-align: center;
        &:hover{
            text-decoration: underline;
        }
    }
    h1,h2,h3,h4,h5,h6{
        font-family: 'Oswald';
        font-style: normal;
        font-weight: normal;
        font-size: 30px;
        line-height: normal;
        text-align: center;
        color: #515A63;
    }
}
.bread{
    display: flex;
    padding-top: 12rem;
    padding-left: 18%;
    margin-bottom: 2rem;
    a{
        text-decoration: none;
        color: #000;
        font-size: 2rem;
        span{
            margin: 0 1rem;
        }
        &:hover{
            color: $main-orange;
        }
    }
}
.btn{
    border: none;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: normal;
    text-align: center;
    color: #FFFFFF;
    min-height: 4.6rem;
    min-width: 15.3rem;
    background-color: $main-orange;
    outline: none;
    cursor: pointer;
    padding: 1.5rem 3rem;
    &:hover{
        transition:1s;
        background-color: $main-green;
    }
}
.container{
    max-width: 1170px;
    height: 100%;
    width: 100%;
    padding: 15px;
}


.header{
    background-color: $main-green;
    display: flex;
    justify-content: center;
    width: 100%;
    position: fixed;
    z-index: 10;

    &-menu{
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1200px;
        width: 100%;
        padding: 0 0;
        &-logo{
            display: flex;
            flex-grow: 1;
            justify-content: flex-start;
            align-items: center;
            &__logo-text{
                display: inline-block;
                color: #333333;
                font-size: 3rem;
                text-decoration: none;
                color: $main-white;
                span{
                    color: $main-orange;
                }
                &:hover{
                    color: $main-orange;
                }
            }

        }
        &_mobile{
            display: none;
            width: 45px;
            height: 35px;
            position: fixed;
            right: 0;
            margin-right: 50px;
            margin-top: 15px;
            cursor: pointer;
            span {
                display: block;
                position: absolute;
                height: 5px;
                width: 100%;
                background: #fff;
                border-radius: 9px;
                opacity: 1;
                left: 0;
                transform: rotate(0deg);
                transition: .25s ease-in-out;
                &:nth-child(1){
                    top: 0px;
                }
                &:nth-child(2){
                    top: 13px;
                }
                &:nth-child(3){
                    top: 13px;
                }
                &:nth-child(4){
                    top: 26px;
                }
            }
        }
        &-links{
            display: flex;
            flex-grow: 2;
            justify-content: space-around;
            list-style-type: none;
            &__item{
                &:hover{
                    color: $main-orange;
                }
            }
           li{
                position:relative;
                list-style:none;
                margin:15px;

                span{
                    display: inline-block;
                    vertical-align: top;
                    margin-left: 1.5rem;
                }
                a{
                    color: $main-white;
                    text-decoration: none;
                    font-size: 1.8rem;
                    font-family: 'Oswald';
                }
                .dropdown{
                    position:absolute;
                    left:0;
                    padding:0;
                    min-width: 100%;
                    text-align: center;
                    list-style:none;
                    display:none;
                    background-color: $main-orange;
                    z-index: 20;
                }
            }
        }
    }
}

.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../img/firs-frame.png);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 700px;
    padding-top: 10rem;
    .container_main{
        display: flex;
        min-height: 700px;
        flex-direction: column;
        justify-content: space-between;
    }
    &-phones{
        display: flex;
        flex-direction: column;
        align-self: flex-end;
        background-image: url(../img/phonesBg.png);
        background-size: cover;
        background-repeat: no-repeat;
        padding: 4rem 3rem 2rem 3rem;
        button{
            background-color: #E08A34;
            text-decoration: underline;
        }
        a{
            margin: 1rem 0;
        }
    }
    &-call{
        display: flex;
        flex-direction: column;
        align-self: flex-start;
        justify-self: flex-end;
        background-image: url(../img/main-callBG.png);
        background-size: cover;
        background-repeat: no-repeat;
        padding: 6rem 7rem 2.8rem 55%;
        margin-bottom: -1.5rem;
        margin-left: -45%;
        button{
            margin-top: 4rem;
            max-width: 100%;
            width: 160px;
            align-self: center;
        }
    }
}

.services{
    display: flex;
    justify-content: center;
    .container{
        h2{
            margin: 8rem 0 4rem 0;
        }
    }
    &-ilosos{
        min-height: 70rem;
        background-color: #7CB7C9;
        padding: 15rem 10rem 1rem 13rem;
        position: relative;
        h3{
            color: $main-white;
            font-size: 2rem;
        }
        .top-header{
            margin-top: -4rem;
            align-self: center;
        }
        &__description{   
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 50%;
            padding-right: 3.5rem;
            a{
                align-self: flex-start;
                color: $main-orange;
            }
        }
        &__calc{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
            width: 50%;
            padding-left: 3.5rem;
            margin-right: -9rem;
            &_controls{
                width: 100%;
                    .orange{
                        color: $main-orange;
                        margin-left: 0.5rem;
                    }
                    .price-outer__text{
                        font-weight: 500;
                        font-size: 30px;
                        line-height: 57px;
                    }
                .row{
                    margin: 2rem 0;
                    justify-content: center;
                    label{
                        color: $main-white;
                        font-size: 1.6rem;
                        margin-right: 1rem;
                    }
                    input{
                        margin-right: 3rem;
                        height: 2.5rem;

                    }
                }
                button{
                    display: block;
                    margin: 3rem auto;
                }
            }
        }
        // butttons
        .assenizator-activator{
            background-image: url(../img/assenizatorBtn.png);
            background-color: #fff;
            width: 50%;
            height: 76px;
            border: none;
            top: 0;
            right: 0%;
            position: absolute;
            color:#FFF;
            font-size: 3rem;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            span{
                margin: 0 6rem 0 3rem;
            }
        }
        .ilosos-activator{
            width: 50%;
            height: 9rem;
            background-image: url(../img/ilososBtn.png);
            background-color: #fff;
            border: none;
            top: 0;
            left: 0;
            position: absolute;
            // color:#FFF;
            font-size: 3rem;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            span{
                margin: 0 6rem 0 3rem;
            }
        }
    }


    &-assenizator{
        min-height: 70rem;
        background-color: #A0C575;
        padding: 15rem 10rem 1rem 13rem;
        position: relative;
        h3{
            color: $main-white;
            font-size: 2rem;
            margin-top: 8rem;
        }
        .top-header{
            margin-top: -4rem;
            align-self: center;
        }
        &__description{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 50%;
            padding-right: 3.5rem;

            a{
                align-self: flex-start;
                color: $main-orange;
            }
        }
        &__calc{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
            width: 50%;
            padding-left: 3.5rem;
            margin-right: -9rem;
            .calc-price__text{
                span{
                    color: $main-orange;
                    margin-left: 5px;
                }

            }
            &_controls{
                width: 100%;
                    .orange{
                        color: $main-orange;
                        margin-left: 0.5rem;
                    }
                    .price-outer__text{
                        font-weight: 500;
                        font-size: 30px;
                        line-height: 57px;
                    }
                .row{
                    margin: 2rem 0;
                    justify-content: center;
                    label{
                        color: $main-white;
                        font-size: 1.6rem;
                        margin-right: 1rem;
                    }
                    input{
                        margin-right: 3rem;
                        height: 2.5rem;

                    }
                }
                button{
                    display: block;
                    margin: 3rem auto;
                }
            }
        }
        // butttons
        .assenizator-activator{
            background-image: url(../img/assenizatorBtn.png);
            background-color: #fff;
            width: 50%;
            height: 9rem;
            border: none;
            top: 0;
            right: 0%;
            position: absolute;
 
            font-size: 3rem;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            span{
                margin: 0 6rem 0 3rem;
            }
        }
        .ilosos-activator{
            width: 50%;
            height: 9rem;
            background-image: url(../img/ilososBtn.png);
            background-color: #fff;
            border: none;
            top: 0;
            left: 0;
            position: absolute;
            font-size: 3rem;
            color: #fff;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            span{
                margin: 0 6rem 0 3rem;
            }
        }
    }
}

.advantages{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    // margin-bottom: 5rem;
    min-height: 70rem;
    position: relative;
    overflow: hidden;
    &:before{
        position: absolute;
        width: 100%;
        height: 30rem;
        content: url(../img/Apseudo.png);
        top: 70%;
        right: -30%;
        z-index: -1;
    }
    h2{
        text-align: center;
        padding-bottom: 2rem;
    }
    .container{
        display: flex;
        justify-content: center;
        background-image: url(../img/Abg.png);
        background-size: cover;
        background-position: 100% 0%;
        padding-right: 5%;
        background-repeat: no-repeat;
        position: relative;
        &:before{
            position: absolute;
            content: "";
            height: 100%;
            width: 100%;
            top: 0;
            left: -100%;
            z-index: -1;
            background-color: #88A862;
        }
    }
    .advantages-item{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 3rem 1rem; 
        p{
            margin: 1rem 0;
            text-align: left;
        }
        img{
            margin-bottom: 1rem;
        }
    }
}

.form-container{
    min-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    margin-bottom: 2rem;
    form{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        background-image: url(../img/Fbg.png);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: 0% 100%;
        min-width: 800px;
        min-height: 500px;
        padding: 5rem 20rem 3.2rem 20rem;
        h2{
            margin-bottom: 4rem;
        }
        .input{
            display: flex;
            flex-direction: row;
            width: 100%;
            justify-content: space-between;
        }
        label{
            color: #FFF;
            font-size: 18px;
            display: flex;
            align-self: flex-end;
        }
        input{
            border: none;
            color: #000;
            font-family: "Oswald";
            height: 3.5rem;
            width: 80%;
        }
    }
}
.header-handler{
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-content: center;
    height: 10rem;
    margin: 0 auto;
}
.question{
    width: 100%;
    height: 60rem;
    padding: 4rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../img/qBg.png);
    background-size: cover;
    background-repeat: no-repeat;

    .container{
        display: flex;
        justify-content: center;
    }
    &-buttons{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 50%;
        a{
            background-color: $main-orange;
            margin-bottom: 2rem;
            padding: 0.8rem;
            cursor: pointer;
            &:hover{
                transition: 1s;
                background-color: $main-green;
            }
        }
    }
    // if you want to make targets bigger-change height of .questions// in resizable mode - bg image is bagging
    &-targets{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 50%;
        min-height: 50rem;
        height: 100%;
        background-image: url(../img/qTargetsBg.png);
        background-size: cover;
        background-repeat: no-repeat;
        padding: 7rem 3rem 4rem 7rem;
        margin-left: 2rem;
        p{
            color: #515A63;
            font-family: "Oswald";
            margin-bottom: 3rem;
        }
        h1,h2,h3,h4,h5,h6{
            margin-bottom: 2rem;
        }
    }
}
.feedback{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    .container{
        display: flex;
        flex-direction: column;
        max-width: 1200px;
        padding: 15px 100px;
        width: 100%;
        overflow: hidden;
        margin-top: 2rem;
        &-hiders{
            display: flex;
            justify-content: center;
            position: relative;
            width: 100%;
            height: 65px;
            max-width: 1200px;
            button{
                span{
                    display: inline-block;
                    vertical-align: middle;
                    margin: 0 3rem;
                }
            }
            .text-text__btn{
                position: absolute;
                top: 0;
                left: 0;
                width: 50%;
                height: 6.5rem;
                background-image: url(../img/ftBtn.png);
                background-position: 0 0;
                background-size: cover;
                background-repeat: no-repeat;
                border: none;
                background-color: transparent;
                font-family: 'Oswald';
                font-style: normal;
                font-weight: normal;
                font-size: 30px;
                color: #fff;
            }
            .text-video__btn{
                position: absolute;
                top: 0;
                right: 0;
                width: 50%;
                height: 6.5rem;
                background-image: url(../img/fvBtn.png);
                background-position: 0 0;
                background-size: cover;
                background-repeat: no-repeat;
                border: none;
                background-color: transparent;
                font-family: 'Oswald';
                font-style: normal;
                font-weight: normal;
                font-size: 30px;
                color: #fff;
            }
        }
    }
    &-text-slider{
        width: 100%;
        max-width: 1200px;
        min-height: 35rem;

        &-item{
            background-color: #CF7561;
            // display: flex;
            flex-direction: column;
            justify-content: center;
            position: relative;
            padding: 5rem 10rem 4rem 9rem;
            width: 100%;

            .row{
                display: flex;
                justify-content: space-between;
                margin: 2.5rem 0;
                &-text{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                }
            }
            .text-prev__btn{
                background-color: transparent;
                border: none;
                position: absolute;
                left: 9rem;
                bottom: 3rem;
                &:hover{
                    transform: scale(1.1);
                }
            }
            .text-next__btn{
                background-color: transparent;
                border: none;
                position: absolute;
                left: 25rem;
                bottom: 3rem;
            }
        }
    }
    &-video-slider{
        width: 100%;
        max-width: 1200px;
        min-height: 35rem;
        .feedback-video-slider-item{
            background-color: #EEC062;
            display: flex;
            justify-content: center;
            position: relative;
            padding: 5rem 10rem 4rem 5rem;
            width: 100%;
            .item__video{

                width: 50%;
                display: flex;
                justify-content: center;
                .video_img{
                    width: 100%;
                    height: 100%;
                    max-width: 37rem;
                    max-height: 30rem;

                }
            }
            .item__description{
                width: 50%;
                display: flex;
                flex-direction: column;
                .row{
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: 2rem;
                }
                .video-prev__btn{
                    background-color: transparent;
                    border: none;
                    position: absolute;
                    right: 51%;
                    transform: translateX(-50%);
                    transform: translateY(-50%);
                    bottom: 3rem;
                }
                .video-next__btn{
                    background-color: transparent;
                    border: none;
                    position: absolute;
                    right: 36%;
                    transform: translateX(-50%);
                    transform: translateY(-50%);
                    bottom: 3rem;
                }
            }
        }
    }
}
.about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1,h2,h3,h4,h5,h6{
        text-align: center;
        margin: 3rem;
    }
    &-container{
        display: flex;
        justify-content: space-between;
        background-image: url(../img/aboutBg.png);
        background-size: cover;
        background-repeat: no-repeat;
        min-height: 55rem;
        padding: 11rem 5rem 7.5rem 10rem;
    }
    &-description{
        width: 60%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    &-image{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40%;
        img{
            min-height: 414px;
            min-width: 170px;
            max-height: 80%;
            max-width: 80%;
        }
    }
}
.contacts{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    min-height: 60rem;
    .map{
        position: absolute;
    }

    .container{
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;
        flex-direction: column;
        min-height: 60rem;
        padding-bottom: 0;
        .contacts-hiders{
            display: flex;
            justify-content: center;
            position: relative;
            width: 100%;
            height: 65px;
            max-width: 900px;
            position: relative;
            z-index: 20;
            button{
                span{
                    display: inline-block;
                    vertical-align: middle;
                    margin: 0 3rem;
                }
            }
            .contacts-contacts__btn{
                position: absolute;
                top: 0;
                left: 0;
                width: 50%;
                height: 6.5rem;
                background-image: url(../img/contacts-contacts__btn.png);
                background-position: 0 0;
                background-size: cover;
                background-repeat: no-repeat;
                border: none;
                background-color: transparent;
                font-family: 'Oswald';
                font-style: normal;
                font-weight: normal;
                font-size: 30px;
                color: #fff;
            }
            .contacts-form__btn{
                position: absolute;
                top: 0;
                right: 0;
                width: 50%;
                height: 6.5rem;
                background-image: url(../img/contacts-form__btn.png);
                background-position: 0 0;
                background-size: cover;
                background-repeat: no-repeat;
                border: none;
                background-color: transparent;
                font-family: 'Oswald';
                font-style: normal;
                font-weight: normal;
                font-size: 30px;
                color: #fff;
            }
        }
    }
    &-contacts{
        background-color: $dark-green;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        height: 40rem;
        max-width: 90rem;
        max-height: 40rem;
        padding: 10rem 0 5rem 5rem;
        position: relative;
        z-index: 20;

    }
    &-form-block{
        // display: flex;
        width: 100%;
        height: 40rem;
        max-width: 90rem;
        max-height: 40rem;
        padding: 10rem 0 5rem 5rem;
        background-color: $light-orange;
        position: relative;
        z-index: 20;
        .description{
            width: 50%;
        }
        .contacts-form{
        width: 50%;
        margin-left: 2rem;
        padding-top: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        h2{
            margin-bottom: 2rem;
        }
        .input{
            display: flex;
            flex-direction: row;
            width: 80%;
            justify-content: space-between;
        }
        label{
            color: #FFF;
            font-size: 18px;
            display: flex;
            align-self: flex-end;
        }
        input{
            border: none;
            color: #000;
            font-family: "Oswald";
            height: 3.5rem;
            width: 80%;
        }

        }
    }
}
.footer{
    display: flex;
    width: 100%;
    justify-content: center;
    background-color: #CF7561;
    &-container{
        display: flex;
        justify-content: space-between;
    }
}
@media(max-width: 1200px){
    .feedback{
        .container{
            padding: 15px 15px;
        }
     
    }
    .feedback .container-hiders .text-text__btn {
    top: -1rem;
    height: 7.5rem;
    }
    .feedback .container-hiders .text-video__btn {
        top: -1rem;
        height: 7.5rem;
        }
}
@media(max-width: 1200px){
    .services{
        button{

            span{
                display: none;
            }
        }
    }
    .services-ilosos .ilosos-activator, .services-assenizator .ilosos-activator{
        background-color: $main-blue;
    }
}
@media(max-width: 1024px){
    .advantages{
        .container{
            flex-wrap: wrap;
            background-color: $main-green;
            .advantages-item{
                width: 45%;
                text-align: center;
                p{
                    text-align: center;
                }
            }
        }
    }
    .feedback{
        .container-hiders{
            .text-text__btn{
                background-image: none;
                background-color: #CF7561;
                span{
                    display: none;
                }
            }
        .text-video__btn{
            background-image: none;
            background-color: $light-orange;
            span{
                display: none;
            }
        }
    }
        .feedback-text-slider-item{
            padding: 15px;
        }
        .feedback-video-slider-item{
            flex-direction: column-reverse;
            padding: 15px;
            .item__description, .item__video{
                width: 100%;
                justify-content: center;
            }
            .item__video{
                margin-bottom: 4rem;
            }
            .row{
                .video-next__btn{
                   right: 35%;
                   bottom: 1rem;
                }
                .video-prev__btn{
                    left: 35%;
                    bottom: 1rem;
                }
            }
        }
    }
    .about{
        .container{
            padding: 15px;
        }
        &-container{
            background-image: none;
            background-color: $main-blue;
        }
    }
}
@media(max-width: 860px){
    .services{
        &-ilosos, &-assenizator{
            flex-direction: column;
            align-items: center;
            padding: 10rem 15px 15px 15px;
            .calc-price__text,  .price-outer__text{
                text-align: center;
            }
            &__calc{
                margin-right: 0;
                margin-top: 4rem;
                padding: 15px;
                width: 100%;
                text-align: justify;   
                h1,h2,h3,h4,h5,h6{
                    margin-bottom: 2rem;
                }
                p{
                    margin-bottom: 2rem;
                }
            }
            &__description{
                padding: 15px;
                text-align: justify;
                width: 100%;
            }
            img{
                display: none;
            }
        }

    }
}
@media(max-width: 768px){
    .header{
        &-menu{
            display: flex;

            &_mobile{
                display: inline-block;
                top: 10px;
                right: -30px;
            }
            &-links{
                position: fixed;
                display: none;
                right: 0;
                left: 0;
                margin-top: 0px;
                margin-right: 0px;
                background-color: rgba(0, 0, 0, 0.8);
                z-index: 1000;
                overflow: hidden;
                &__item{
                    display: block;
                    padding: 10px 0;
                    text-align: center;
                    color: #fff;
                }
            }
        }
    }
    .form-container{
        form{
            background-image: none;
            background-color: $light-orange;
            padding: 15px;
            align-items: center;
            justify-items: center;
            min-width: 100%;
            min-height: 100%;
            .input{
                width: 80%;
                flex-direction: column;
                align-self: center;
                align-items: center;
                label{
                    align-self: center;
                    margin: 2rem 0;
                }
                input{
                    padding: 5px 10px;
                    font-family: "Oswald"; 
                    color: grey;
                }
            }
            button{
                margin: 3rem 0 2rem 0;
            }
        }
    }
    .question{
        height: auto;

        .container{
            flex-direction: column;
        }
        &-buttons, &-targets{
            width: 100%;
        }
        &-targets{
            justify-content: space-between;
            margin: 0;
        }
    }
    .question-targets{
        background-image: none;
        background-color: #fff;
        padding: 7rem 1.5rem 1rem 1.5rem;
        text-align: justify;
        overflow: hidden;
    }
    .about{
        &-image{
            display: none;
        }
        &-description{
            width: 100%;
        }
    }
    .contacts{
        .container{
            .contacts-contacts{
                padding: 1.5rem;
                max-height: auto;
            }
            .contacts-form-block{
                flex-direction: column;
                padding: 1.5rem;
                height: auto;
                min-height: 40rem;
                .description{
                    display: none;
                }
                .contacts-form{
                    width: 100%;
                    height: 40rem;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-around;
                    padding: 1.5rem;
                    margin: 0;
                    .input{
                        flex-direction: column;
                        label{
                            align-self: center;
                            margin: 2rem;
                        }
                        input{
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
    .contacts .container .contacts-hiders .contacts-contacts__btn{
        background-image: none;
        background-color: $dark-green;
        span{
            display: none;
        }
    }
    .contacts .container .contacts-hiders .contacts-form__btn{
        background-image: none;
        background-color: $light-orange;
        span{
            display: none;
        }
    }
}
@media(max-width: 425px){
    .main-call{
        background-image: none;
        margin-left: 0;
        padding: 1.5rem;
    }
    .feedback .container-hiders .text-video__btn{
        font-size: 1.8rem;
    }
    .feedback .container-hiders .text-text__btn{
        font-size: 1.8rem;
    }
    .advantages{
        .container{
            flex-wrap: wrap;
            background-color: $main-green;
            .advantages-item{
                width: 100%;
                text-align: center;
                p{
                    text-align: center;
                }
            }
        }
    }
    .contacts .container .contacts-hiders .contacts-form__btn{
        font-size: 1.8rem;
    }
}
.header{
    .container{
        padding: 15px 0 0 0;
    }
    .header-menu-logo__logo-text{
        margin-left: 1.5rem;
        margin-bottom: 1.5rem;
    }
}
// nav realization
// nav realization
.header-menu.header-menu_state_open .header-menu_mobile span:nth-child(1){
    top: 0px;
    width: 0%;
    left: 50%;
}
.header-menu.header-menu_state_open .header-menu_mobile span:nth-child(2){
    transform: rotate(45deg);
}
.header-menu.header-menu_state_open .header-menu_mobile span:nth-child(3){
    transform: rotate(-45deg);
}
.header-menu.header-menu_state_open .header-menu_mobile span:nth-child(4){
    top: 8px;
    width: 0%;
    left: 50%;
}

.header-menu.header-menu_state_open{
    flex-direction: column;
    width: 100%;  
    padding: 0;
    margin-top: 10px;
   & .header-menu-links{
        position: relative;
        display: flex;
        width:100%;
        margin: 0;
        padding: 0;
        flex-direction: column;
        align-self: flex-end;
        justify-items: flex-end;
        opacity: 1;
        cursor: pointer;
        background-color: #88A872;
        &:hover{
            color: $main-green;
        }
    }
}


//  ILOSOS PAGE STYLES!!!!!!!!!!!!!!!
.ilo-info__header{
    color: #fff;
    margin-bottom: 5rem;
}
.ilosos-info{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .container{
        margin-top: 0rem;
        padding: 2rem 10rem;
        width: 100%;
        max-width: 120rem;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        background-image: url(../img/iloPage/infoBg.png);
        background-size: cover;
        background-repeat: no-repeat;
        .ilosos-pic-row{
            display: flex;
            justify-content: space-between;
        }
        .ilosos-row{
            display: flex;
            margin: 2rem 0;
            justify-content: space-between;
            ul,ol{
                max-width: 50%;
            }
            &-desc{
                padding: 1.5rem 3rem;
                display: flex;
                flex-direction: column;
                flex-grow: 1;
                justify-content: flex-start;
                
                text-align: left;
                p{
                    margin-bottom: 3rem;
                }
            }
            &-pic{
                display: flex;
                flex-grow: 2;
                min-width: 45%;
                position: relative;
                // img{
                //     border: 1px solid white;
                // }
                img{
                    position: relative;
                }
                &:before{
                    content: '';
                    position: absolute;
                    width: 91%;
                    left: 3%;
                    height: 90%;
                    border: 1px solid #fff;
                }
            }
            &_reversed{
                flex-direction: row-reverse;
            }
            .ilosos-pic-card{
              position: relative;
              display: flex;
              flex-direction: column;
              justify-content: flex-start;
              align-items: center;
              width: 20%;
              p{
                  text-align: center;
              }
              img{
                  max-height: 120px;
                  max-width: 120px;
                  border: 1px solid #fff;
              }
            //   &:before{
            //       content: '';
            //       position: absolute;
            //       width: 120%;
            //       height: 80%;
            //       left: -10%;
            //       bottom: 30%;
            //       border: 1px solid #fff;
            //   }
            }
        }
    }
}
@media(max-width: 1002px){
    .ilosos-info{
        .container{
            .ilosos-row{
                flex-direction: column;
            
            }
            .ilosos-pic-row{
                flex-direction: row;
                flex-wrap: wrap;
            }
            .ilosos-list-row{
                flex-direction: row;
            }
        }
    }
}
@media(max-width: 700px){
    .ilo-info__header{
        margin-bottom: 1rem;
    }
    .ilosos-info{
        .container{
            padding: 15px;
            background-image: none;
            background-color: $main-blue;
            .ilosos-row{
                flex-direction: column;
            
            }
            .ilosos-pic-row{
                flex-direction: row;
                flex-wrap: wrap;
                .ilosos-pic-card{
                   width: 50%;
                }
            }
            .ilosos-list-row{
                flex-direction: column;
                width: 100%;
                ul,ol{
                    margin-left: 2rem;
                    max-width: 100%;
                }
            }
        }
    }
    .ase-info{
        .container{
            background-image: none;
            background-color: $main-green;
        }
    }
}

// ASSENIZATOR PAGE STYLES
.ase-info{
    .container{
        background-image: url(../img/asePage/infoBg.png);
        .ase-row{
                width: 100%;
                justify-content: space-around;
        }
    }

}
